# C extensions
*.so
*.pyc
*.pth
*.tar
*.pt
*.csv

**/__pycache__

/checkpoint
/datasets/settings
/datasets/hmdb51_frames
/datasets/hmdb51_splits
/datasets/ucf101_splits
/datasets/smtV2_frames
/datasets/ucf101_frames
/datasets/settings
/datasets/pose_information
/datasets/pose_information2
/datasets/window_frames

/old checkpoints

/scripts/eval_ucf101_pytorch/results
/runs

/weights
/cercop



